html *
{
	font-family: HelveticaNeueCyr !important;
}

html, body {
	min-width: 800px;
	background: linear-gradient(to top, white, #F2F2F2);
	margin: 0;
	padding: 0;
}

::selection {
  background: #1000FF;
}

.header {
	top: 0;
	left: 0;
	width: 100%;
	background-color: #383838;
	overflow: auto;
}

#user-text {
	color: white;
	float: left;
	left: 10px;
	margin-left: 50px;
	margin-top: 26px;
	padding-right: 40%;
}

#logo {
	width: 260px;
	height: auto;
}

#log-out {
	width: 41px;
	height: 41px;
	float:right;
	margin: 16px 20px 10px 0;
}

.btns-cell {
	width: 40%;
	height: 20%;
}

.main-content {
	margin: 6% auto 4% auto;
}

.table {
	margin-top: 3%; 
	margin-left: 15%;  
	padding-bottom: 3%;
	width: 50%;
	table-layout: fixed;
}

#filter-button {
	height: 60px;
	float: right;
	margin: 30px 100px 0px 0px;
	font-size: 20px;
	border-radius: 14px;
	background-color: white;
	outline: none;
}

#add-filter {
	display: block;
	width: 100%;
	height: 105px;
	left: 0;
	background-color: #F2F2F2;
}

#add {
	margin-left: 3%;
	height: 98%;
	width: auto;
}

#select {
	float: right; 
	margin-top: 2.5%;
	width: 150%;
}

.input {
	width: 60%;
	height: auto;
	background-color: #F8B003;
	margin-right: 100px;
}

.menu {
	width: 160%;
}

.vl {
	border-left: 3px solid black;
	height: 105px;
	position: absolute;
	left: 15%;
}

.btn-like {
	float: left;
	outline:none; 
	background-color: pink;
	width: 75px;
	height: 75px;
	padding-top: 20px;
	border-radius: 100%;
	border-width: 1px;
	margin-right: 5%;
}

#users-photo {
	margin-left: 10%;
	width: 150%;
	height: auto;
}

#edit-delete {
	height: 25%;
	width: auto;
}

#like {
	height: 80%;
	width: 80%;
	padding-bottom: 10px;
}

#edit-button {
	text-decoration:none;
	margin-right: 3%;
}

#login-div {
}

#form-name {
	margin-left: 10%;
	font-size: 50px;
}

.inputs-names {
	font-size: 30px;
}

label {
    font-weight:bold;
    margin-right:10px;
}

.cell {
    display:table-cell;
    vertical-align:middle;
}
#login {
    margin-top: 13%;
    margin-bottom: 14%;
    margin-left: 32%;
    margin-right: auto;
}

#login-input {
	margin-bottom:15px;
    font-size: 40px;
	margin-left: 19px;
}

#password-input {
    margin-bottom:15px;
    font-size: 40px;
}
  
.add-edit-labels {
	font-size: 20px;
	display: inline-block;
	position: relative;
}

#description-add-edit {
	margin-left: 28%;
	display: inline-block;
	font-size: 25px;
	width: 40%;
	height: 200px;
	box-sizing: border-box;
	min-height: 100px;
	min-width: 100px;
	max-width: 800px;
	max-height: 400px;
}

#add-edit-template-div {
	margin: 50px 200px 100px 200px;
}

#add-edit-template-div label:first-child {
	display: block;
    text-align: center;
}

#edit-add {
	border-radius: 26px;
	background-color: #a8a8a8;
	font-size: 45px;
}

#save-btn {
	width: 150px;
	height: 60px;
	border-radius: 30px;
	margin-left: 41%;
	outline: none;
	font-size: 20px;
	color: white;
	background-color: green;
}

#drag-drop {
	width: 40%;
    height: 400px;
    padding: 10px;
    border: 2px solid #000000;
    margin-left: 27%;
}


#submit-button {
	border-radius: 15px;
	border-color: blue;
	width: 200px;
	height: 40px;
	margin-top: 40px;
	margin-left: 160px;
	font-size: 30px;
	background-color: blue;
	color: white;
	outline:none;
}

#load-more {
	position: relative;
	display: block;
	margin: 60px auto 20px auto;
	padding: 0;
	outline: none;
	border-width: 1px;
	border-radius: 10px;
	width: 120px;
	height: 40px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	background-color: #2ecc71;
	color: #ffffff;
}

#footer {
	display: flex;
	flex-direction: column;
	bottom: 0;
    left: 0;
	min-height: 65px;
	width: 100%;
	background-color: #383838;
}

.creator-text {
	display: inline-block;
	position: absolute;
	color: white;
	left: 20px;
	width: 30%;
	margin-top: 10px;
}

.course-group {
	display: inline-block;
	position: absolute;
	color: white;
	left: 20px;
	margin-top: 35px;
	width: 30%;
}

#logo-footer {
	display: inline-block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 42%;
	width: 200px;
	height: auto;
}

.mail {
	display: inline-block;
	position: absolute;
	color: white;
	right: 20px;
	margin-top: 10px;
}

.last-changes {
	display: inline-block;
	position: absolute;
	color: white;
	right: 20px;
	margin-top: 35px;
}